/* JOb  Card  */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
  color: "#000000DE";
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 50px; */
}


a {
  cursor: pointer;
  text-decoration: none;
  color: #4943da;
  text-align: center;
  font-size: 14px;
}

.cards-sub-text {
  font-size: 11px;
  font-weight: 500;
  margin-top: 5px;
}

.experience {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #8b8b8b;
}

.status-container {
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 10px;
}

.details {
  -webkit-mask-image: linear-gradient(#000000de, rgba(0, 0, 0, 1));
  mask-image: linear-gradient(#000000de, rgba(0, 0, 0, 0.4));
}

.view-jobs {
  position: relative;
  top: -5px;
}
